{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Cadastro de Usuário</title>
    <!-- CSS files -->
    <link href="{% static 'tabler-main/dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/tabler-vendors.mim.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/demo.min.css' %}" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column">
    <script src="{% static 'tabler-main/dist/js/demo-theme.min.js' %}"></script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="{% url 'main_laudos' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'imgs/logo_crc_2.png' %}" height="120" alt="CRC"></a>
        </div>


        <form class="card card-md" action="." method="post" autocomplete="off" novalidate>
        {% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-2">Informe os campos abaixo</h2>
            {% for fm in form %}
            <div class="mb-2">
                <label class="form-label">{{fm.label_tag}}</label>
                {{ fm }}
                <span style="color: red;">{{fm.errors|striptags}}</span>
            </div>
            {% endfor %}

            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Criar nova conta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'js/jquery.toast.min.js' %}"></script>
    <script src="{% static 'tabler-main/dist/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'tabler-main/dist/js/demo.min.js' %}" defer></script>
  </body>
</html>