{% load static %}
<div class="modal modal-blur fade" id="confirma-status-man" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alteração Status de Manutenção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem a intenção de atualizar o status de <b>"Aguardando Resposta"</b> para <b>"Concluído"</b> a fim de encerrar o laudo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Não, cancelar</button>
        <button type="button" id="confirma-man" class="btn btn-primary" data-bs-dismiss="modal">Sim, Concluir</button>
      </div>
    </div>
  </div>
</div>

