{% load static %}
{% csrf_token %}
<div class="modal modal-blur fade" id="confirma-status-dev" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alteração Status De Devolução</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem a intenção de atualizar o status de <b>"Em Progresso"</b> para <b>"Devolvido ao Patrimônio"</b> a fim de encerrar o laudo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Não, cancelar</button>
        <button type="button" id="confirma-dev" class="btn btn-primary" data-bs-dismiss="modal">Sim, encerrar</button>
      </div>
    </div>
  </div>
</div>


<script>

  $(() => {
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
        }
    })
  })

</script>

