{% extends 'main_templates/base_laudos.html' %}

{% block content %}

<style>
    h1 {
        display: flex;
        justify-content: center;
    }

    .botoes {
        display: flex;
        justify-content: space-between;
    }

    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>



<form method="POST">
    {% csrf_token %}
    {{form.user}}
    {{form.tipo_laudo}}
    <h1>Edição Devolução de Bem</h1>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <h1>Laudo Técnico</h1>
                    <div class="row row-cards">
                        <div class="col-sm-6 col-md-6">
                            <label class="form-label required">Nome do Solicitante</label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    </svg>
                                </span>
                                {{form.nome_solicitante}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3 ">
                                <label class="form-label required">Email do Solicitante</label>
                                <div class="input-icon ">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-mail" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                            </path>
                                            <path d="M3 7l9 6l9 -6"></path>
                                        </svg>
                                    </span>
                                    {{form.email_solicitante}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Unidade</label>
                                {{form.unidade}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Instituto</label>
                                {{form.instituto}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label">departamento</label>
                                {{form.setor}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Número do CSC</label>
                                {{form.num_chamado}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label required">Número do Prédio</label>
                                {{form.num_predio}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label ">Número da Sala</label>
                                {{form.num_sala}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label required">Número do Ramal</label>
                                {{form.num_ramal}}
                            </div>
                        </div>
                    </div>
                    <h1 style="margin: 20px;" >Dados Do Equipamento</h1>
                    <div class="row row-cards">
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Tipo do Equipamento</label>
                                {{form.tipo_equip}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Status</label>
                                {{form.status}}
                            </div>
                        </div>    
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Número de Série</label>
                                {{form.num_serie}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Patrimônio</label>
                                {{form.patrimonio}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Marca do Equipamento</label>
                                {{form.marca}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Modelo do Equipamento</label>
                                {{form.modelo}}
                            </div>
                        </div>
                        <div class="md-3">
                            <label class="form-label required">Tipo de Baixa</label>
                            {{form.tipo_baixa}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Observações e testes realizados</label>
                            {{form.observacoes}}
                        </div>
                    </div>
                    <div class="botoes">
                        <div class="py-3">
                            <a href="{% url 'main_laudos' %}" class="btn btn-primary w-150">
                                Voltar
                            </a>
                        </div>
                        <div class="py-3">
                            <button type="submit" class="btn btn-success w-100">
                                Salvar Alterações
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    $(() => {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })
        
    })

    $('input').keyup(function (e) {
        let code = e.keyCode || e.which
        if (code == 109 || code == 189) {
            let valor = $(this).val()
            $(this).val(valor.replace(/[-]/g, ''))
        }
    })

    $('input').change(function (e) {
        let valor = $(this).val()
        $(this).val(valor.replace(/[-]/g, ''))
    })

    $('#id_user option[value="{{laudo.user.id}}"]').prop("selected", true);
    $('#id_user').css('display', 'none')


    $('#id_tipo_laudo option[value="devolucao"]').prop("selected", true)
    $('#id_tipo_laudo').css('display', 'none')

    $('#id_status option:eq(3)').remove()
    $('#id_status option:eq(4)').remove()
    $('#id_status option:last').remove()

    $('input').addClass('form-control')
    $('select').addClass('form-select')
    $('textarea').addClass('form-control')

    $('#id_nome_solicitante').attr('placeholder', 'Nome do Solicitante')
    $('#id_email_solicitante').attr('placeholder', 'Email do Solicitante')
    $('#id_num_chamado').attr('placeholder', 'Número do Chamado')
    $('#id_ramal').attr('placeholder', 'Número do Ramal')
    $('#id_num_predio').attr('placeholder', 'Número do Prédio')
    $('#id_sala').attr('placeholder', 'Número da Sala')
    $('#id_num_serie').attr('placeholder', 'Número de Série')
    $('#id_patrimonio').attr('placeholder', 'Número do Patrimônio')
    $('#id_marca').attr('placeholder', 'Marca do Equipamento')
    $('#id_modelo').attr('placeholder', 'Modelo do Equipamento')
    $('#id_num_solicitacao').attr('placeholder', 'Número de Solicitação')
    $('#id_Observacoes_testes').attr('style', 'height: 100px;')
    $('#id_Observacoes_testes').attr('placeholder', 'Observações e testes realizados')

    $('#id_unidade option[value="selected"]').attr('html', 'Selecione uma Unidade')

     // adicionando um "placeholder" aos selects e tirando a opção do usuario selecionar o primeiro select 
    $('#id_unidade option:first').text('Selecione uma Unidade')
    $('#id_unidade option:first').prop("disabled", true)
    $('#id_departamento option:first').text('Selecione um Departamento')
    $('#id_departamento option:first').prop("disabled", true)
    $('#id_instituto option:first').text('Selecione um Instituto')
    $('#id_instituto option:first').prop("disabled", true)
    $('#id_tipo_equip option:first').text('Selecione um tipo de equipamento')
    $('#id_tipo_equip option:first').prop("disabled", true)
    $('#id_status option:first').text('Selecione o status do laudo')
    $('#id_status option:first').prop("disabled", true)

    
    //filtro campo unidade
    document.addEventListener("DOMContentLoaded", function () {
        var el;
    	window.TomSelect && (new TomSelect(el = document.getElementById('id_unidade'), {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		
    	}));
    });
    
    //filtro campo tipo de equipamento
    document.addEventListener("DOMContentLoaded", function () {
        var el;
    	window.TomSelect && (new TomSelect(el = document.getElementById('id_tipo_equip'), {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		
    	}));
    });
    

    // filtro campo instituto
    document.addEventListener("DOMContentLoaded", function () {
    	var el;
        	window.TomSelect && (new TomSelect(el = document.getElementById('id_instituto'), {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		render:{
    			item: function(data,escape) {
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    			option: function(data,escape){
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    		},
    	}));
    });

</script>



{% endblock %}