{% extends 'base.html' %}
{% load static %}

{% block app_navbar %}

{% endblock %}


{% block content %}

<div id="table-default" class="table-responsive">
    <br><br>
    <div class="text-center mb-4">
        <img class="navbar-brand-autodark" src="{% static 'img/puc_2.png' %}" height="200" alt="">
    </div>
</div>

{% endblock %}
