{% extends 'main_templates/base_laudos.html' %}
{% load static %}

{% block content %}

{% comment %} Mensagem que sera exibida quando o usuario finalizar um processo e receber um success da view {% endcomment %}
{% if messages%}
  {% for msg in messages%}
    {%if msg.tags == 'success' %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{% static 'js/jquery.toast.min.js' %}"></script>
      <script>
        let myToast = $.toast({
          heading: 'Processo Finalizado!',
          text: '{{msg}}',
          showHideTransition: 'plain',
          icon: 'success',
          position: 'top-center'
        })
      </script>
    {%endif %}
  {% endfor %}
{% endif %}


{% comment %} Mensagem que sera exibida quando o usuario finalizar um processo e receber um info da view {% endcomment %}
{% if messages%}
  {% for msg in messages%}
    {%if msg.tags == 'info' %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{% static 'js/jquery.toast.min.js' %}"></script>
      <script>
        let myToast = $.toast({
          heading: 'Processo Finalizado!',
          text: '{{msg}}',
          showHideTransition: 'plain',
          icon: 'info',
          position: 'top-center'
        })
      </script>
    {%endif %}
  {% endfor %}
{%endif%}

<style>
  .markdown>table>:not(caption)>*>*, .table>:not(caption)>*>* {
    padding: 0.75rem 0.65rem;
    background-color: var(--tblr-table-bg);
    border-bottom-width: var(--tblr-border-width);
    box-shadow: inset 0 0 0 9999px var(--tblr-table-accent-bg);
}
</style>



<div style=" width: 220px; display:">
  {% comment %} Botão que chama a função de imprimir todos os laudos checados {% endcomment %}
  <button class="btn btn-secondary d-none d-sm-inline-block w-100" id="btn-imprime-checks" disabled>
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
      <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
      <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path>
  </svg>
    Imprimir Selecionados
  </button>
</div>

<div id="usuario-logado" data-usuario="{{ usuario.last_name }}"></div>

<div class="page-body">
  
    <div class="card-body">
      <div id="table-default">
        <div id="table-aux">
          <table class="table" id="table-laudos">
            <thead>
              <tr>
                <th><input id="check-todos" class="form-check-input check-todos" type="checkbox"></th>
                <th>Status</th>
                <th>Nº do CSC</th>
                <th>Técnico</th>
                <th>Tipo DE Laudo</th>
                <th>Patrimônio</th>
                <th>Nome Equipamento </th>
                <th>Data Criação</th>
                <th>Ações</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
</div>




{% comment %} Modal de Alteração de status Devolução {% endcomment %}
{% include 'main_templates/confirma-status-dev.html' %}

{% comment %} Modal de Alteração de status Manutenção {% endcomment %}
{% include 'main_templates/confirma-status-man.html' %}

{% comment %} Modal de visualização devolucao  {% endcomment %}
{% include 'main_templates/modal-dev.html' %}

{% comment %} Modal de visualização Manutanção {% endcomment %}
{% include 'main_templates/modal-man.html' %}


<script src="{% static 'js/acoes_laudos.js' %}" defer></script>
<script>

    $(() => {
        const csrftoken = $('[name=csrfmiddlewaretoken]').val()
        $.ajaxSetup({
          headers: {
            "X-CSRFToken": csrftoken
          }
        })
    
        var table = $('#table-laudos').DataTable({
          "ordering": false,
          "processing": true,
          "serverSide": true,
          "scrollX": false,
          "searching": true,
          "ajax": function(data, callback, settings){
            $.get('{% url 'api-laudo-main' %}', {
                limite: data.length,
                inicio: data.start,
                filtro: data.search.value,
              }, function(res) {
                callback({
                  recordsTotal: res.data.length,
                  recordsFiltered: res.data.total,
                  data: res.data.objects,
                })
              },
            )
          },
          "columns": [
            {"data": "id", "render": (data, type, row, meta) => ` <input class="form-check-input checkbox" id="${data}" type="checkbox">`},
            {"data": "status", "render": (data, type, row, meta) => style_status(row) },
            {"data": "num_chamado"},
            {"data": "user", "render": (data, type, row, meta) => split_nome(data)},
            {"data": "tipo_laudo", "render": (data, type, row, meta) => style_tipo(data)},
            {"data": "patrimonio"},
            {"data": "tipo_equip"},
            {"data": "criacao", "render": (data, type, row, meta) => formata_data(data)},
            {"data": "", "render": (data, type, row, meta) => acoes_sistema(row)}
          ],
          initComplete: () => acoes(),
          "language": {
            "url": "{% static 'tabler-main/i18n/pt-BR.json' %}"
          },    

        })

      


      function style_tipo(data){
        if (data == "manutencao") {
          return `<span class="badge bg-orange-lt">Manutenção</span>`
        } else {
          return `<span class="badge bg-azure-lt">Devolução</span>`
        }
      }

      function style_status(row){

        switch(row.status) {
          case 'Aguardando-resposta': 
            return  `<span title="Aguardando Resposta" class="badge bg-yellow-lt aguardando_resp" id="${row.id}"
            data-bs-toggle="tooltip" data-bs-placement="top">Aguardando</span>`
          break;  
          case 'Concluido':
            return `<span title="Concluído" class="badge bg-green-lt" 
            data-bs-toggle="tooltip" data-bs-placement="top">Concluído</span>`
          break;
          case 'em-progresso':
            return `<span title="Em Processo" class="badge bg-yellow-lt em-progresso" id="${row.id}"
            data-bs-toggle="tooltip" data-bs-placement="top">Em Progresso</span>`
          break;
          default:
            return `<span title="Devolvido ao patrimônio" class="badge bg-green-lt ms-auto"
            data-bs-toggle="tooltip" data-bs-placement="top">Encerrado</span>`
          break; 
        }

      

      }

      function split_nome(data) {
        
        nome = data.split(' ');

        primeiro_nome = data.split(' ')[0];
        segundo_nome = nome[nome.length - 1];

        return `${primeiro_nome} ${segundo_nome}`;
        
      }
      
      function split_unidade(data){

        if (data.startsWith('CAMPUS'))
          return data.split('CAMPUS ')[1].split(' -')[0]

        if (data.startsWith('UNID. EDUC. '))
          return data.split('UNID. EDUC. ')[1].split(' -')[0]
      }

      
      function formata_data(criacao) {
        let criado = new Date(criacao)
        let dia = criado.getDate()
        let mes = criado.getMonth() + 1
        let ano = criado.getFullYear()
        let hora = criado.getHours()
        let minutos = criado.getMinutes()

        if (dia < 10){
          dia = "0" + dia
        }

        if (minutos < 10){
          minutos = "0" + minutos
        }

        if (mes < 10){
          mes = "0" + mes
        }

        if (hora < 10){
          hora = "0" + hora
        }

        return `${dia}/${mes}/${ano} ${hora}:${minutos}`
      }
      
      function acoes_sistema(row){


        let aguardando = `<svg title="Concluír" xmlns="http://www.w3.org/2000/svg" id="${row.id}" class="btnStatus cursor-pointer" width="24"
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"  
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
          </svg>`

          let em_progresso = `<svg title="encerrar" xmlns="http://www.w3.org/2000/svg" id="${row.id}" class="btnStatus cursor-pointer" 
          width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"  
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
          </svg>`

          let devolvido = `<svg title="Encerrado" xmlns="http://www.w3.org/2000/svg" width="24" 
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" ></path>
              <path d="M7 12l5 5l10 -10"></path>
              <path d="M2 12l5 5m5 -5l5 -5"></path>
          </svg>`

          let concluido = `<svg title="concluido" xmlns="http://www.w3.org/2000/svg" width="24" 
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" ></path>
              <path d="M7 12l5 5l10 -10"></path>
              <path d="M2 12l5 5m5 -5l5 -5"></path>
          </svg>`

          

          let content = `<svg title="Editar" xmlns="http://www.w3.org/2000/svg" class="btnEdit" width="24" id="${row.id}"
          style="cursor: pointer;" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
          <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
          <path d="M16 5l3 3"></path>
        </svg>

        <svg  style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" class="btnPrint" id="${row.id}"
          width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
          stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
          <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
          <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" class="btnDetalhe" style="cursor: pointer;" id="${row.id}" title="Vizualizar"
          width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" 
          fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 
          -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
        </svg>`


        switch(row.status) {
          case 'Aguardando-resposta':
            return aguardando + content 
          break
          case 'Concluido':
            return concluido + content
          break
          case 'em-progresso':
            return em_progresso + content
          break
          default: 
            return devolvido + content
          break
        }
        
      
      
    }

    $('#filter_meus').on('click', function() {
      const filtro = $('#usuario-logado').data('usuario')
      table.search(filtro).draw()
    })  

    $('#filter_progresso').on('click', function() {
      const filtro = "em-progresso"
      table.search(filtro).draw()
    })

    $('#filter_devolvido').on('click', function() {
      const filtro = "Devolvido-ao-patrimonio"
      table.search(filtro).draw()
    })

    $('#filter_aguardando').on('click', function() {
      const filtro = "Aguardando-resposta"
      table.search(filtro).draw()
    })

    $('#filter_concluido').on('click', function() {
      const filtro = "Concluido"
      table.search(filtro).draw()
    })
    

  })

  

</script>


{% endblock %}