{% extends 'main_templates/base_laudos.html' %}
{% load static %}

{% block content %}


<style>
    .title-form {
        display: flex;
        justify-content: center;

    }

    .botoes {
        display: flex;
        justify-content: space-between;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .readonly_select {
        color: grey;
        pointer-events: none;
    }

</style>


<div style="display: none;" id="unidade_user">
    {{request.user.userprofile.unidade}}
</div>

<form method="POST">
    {% csrf_token %}
    {{form.user}}
    {{form.status}}
    {{form.tipo_laudo}}
    <h1 class="title-form">Solicitação Para Manutenção Externa</h1>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <h1 class="title-form">Laudo Técnico</h1>
                    <div class="row row-cards">
                        <div class="col-sm-6 col-md-6">
                            <label class="form-label required">Nome do Solicitante</label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    </svg>
                                </span>
                                {{form.nome_solicitante}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3 ">
                                <label class="form-label required">Email do Solicitante</label>
                                <div class="input-icon ">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-mail" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                            </path>
                                            <path d="M3 7l9 6l9 -6"></path>
                                        </svg>
                                    </span>
                                    {{form.email_solicitante}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label required">Unidade</label>
                                {{form.unidade}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label required">Instituto</label>
                                {{form.instituto}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="md-3">
                                <label class="form-label">Setor</label>
                                {{form.setor}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label">Número do Chamado</label>
                                {{form.num_chamado}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Prédio</label>
                                {{form.num_predio}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label ">Sala</label>
                                {{form.num_sala}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Ramal</label>
                                {{form.num_ramal}}
                            </div>
                        </div>
                    </div>
                    <h1 class="title-form" style="margin-top: 20px;">Dados Do Equipamento</h1>
                    <div class="row row-cards">
                        <div class="md-3">
                            <label class="form-label required">Equipamento</label>
                            {{form.tipo_equip}}
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Número de Série</label>
                                {{form.num_serie}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label">Patrimônio</label>
                                {{form.patrimonio}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Marca</label>
                                {{form.marca}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="md-3">
                                <label class="form-label required">Modelo</label>
                                {{form.modelo}}
                            </div>
                        </div>
                        <div class="md-3">
                            <label class="form-label required">Observações</label>
                            {{form.observacoes}}
                        </div>
                        
                        


                        <div class="mb-3">
                            <label class="form-label required">Centro De Custo</label>
                            <div class="row g-2">
                              <div class="col">
                                {{ form.centro_custo }}
                              </div>
                              <div class="col-auto">
                                <a title="Adicionar Centro de Custo" class="btn btn-icon" aria-label="Bitbucket"
                                    data-bs-toggle="modal" data-bs-target="#addCentroCusto">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/brand-bitbucket -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 5l0 14"></path>
                                        <path d="M5 12l14 0"></path>
                                    </svg>
                                </a>
                              </div>
                              <div class="col-auto">
                                <a title="Editar Centro de Custo" class="btn btn-icon btn-edit" aria-label="Bitbucket"
                                    data-bs-toggle="modal" data-bs-target="#edit_cc">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/brand-bitbucket -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z"></path>
                                        <path d="M16 5l3 3"></path>
                                        <path d="M9 7.07a7 7 0 0 0 1 13.93a7 7 0 0 0 6.929 -6"></path>
                                     </svg>
                                </a>
                              </div>
                            </div>
                          </div>


                        <div class="modal modal-blur fade" id="addCentroCusto" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Adicionar Relação centro de custo</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mb-3 align-items-end">
                                                <div class="col">
                                                    <label class="form-label">Nome do centro de custo</label>
                                                    <input type="text" id="nome_cc" name="cod_cc" class="form-control" />
                                                    <div id="nome-cc-invalid-feedback" class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 align-items-end">
                                                <div class="col">
                                                    <label class="form-label">Codigo Centro de Custo</label>
                                                    <input type="number" id="cod_cc" name="cod_cc" class="form-control" />
                                                    <div id="cod-cc-invalid-feedback" class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="form-label">Unidade de Negócio</label>
                                                <input type="number" class="form-control" id="unidade_negocio" name="unidade_negocio" >
                                                <div id="unid-negoc-invalid-feedback" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn me-auto"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" id="cc-save"
                                                >Salvar</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botoes">
                        <div class="py-3">
                            <a href="{% url 'main_laudos' %}" class="btn btn-primary w-150">
                                Voltar
                            </a>
                        </div>
                        <div class="py-3">
                            <button type="submit" class="btn btn-success w-100">
                                Adicionar Laudo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

{% include 'main_templates/modal_edit_cc.html' %}

<script>

    $(() => {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })
    })


    $('select').addClass('form-select')
    $('input').addClass('form-control')
    $('textarea').addClass('form-control')


    $('#id_user option[value="{{request.user.id}}"]').prop("selected", true);
    $('#id_user').css('display', 'none')

    $('#id_status option[value="Aguardando-resposta"]').prop("selected", true)
    $('#id_status').css('display', 'none')

    $('#id_tipo_laudo option[value="manutencao"]').prop('selected', true)
    $('#id_tipo_laudo').css('display', 'none')

    

    // Adicionando placeholder para facilitar ao usuario
    $('#id_nome_solicitante').attr('placeholder', 'Nome do Solicitante')
    $('#id_email_solicitante').attr('placeholder', 'Email do Solicitante')
    $('#id_num_chamado').attr('placeholder', 'Número do CSC')
    $('#id_num_sala').attr('placeholder', 'Número da Sala')
    $('#id_num_ramal').attr('placeholder', 'Número do Ramal')
    $('#id_num_predio').attr('placeholder', 'Número do Prédio')
    $('#id_num_solicitacao').attr('placeholder', 'Número de Solicitação')
    $('#id_observacoes').attr('placeholder', 'Detalhes, Observações e Testes Realizados')
    $('#id_observacoes').css('height', '80px')
    $('#id_num_serie').attr('placeholder', 'Número de Série')
    $('#id_patrimonio').attr('placeholder', 'Número do Patrimônio')
    $('#id_marca').attr('placeholder', 'Marca do Equipamento')
    $('#id_modelo').attr('placeholder', 'Modelo do Equipamento')
    $('#id_setor').attr('placeholder', 'Nome Setor')

    // adicionando placeholder aos selects e tirando a opção do usuario selecionar a primeiro opção 
    $('#id_unidade option:first').text('Selecione uma Unidade')
    $('#id_unidade option:first').prop("disabled", true)
    $('#id_unidade').addClass('readonly_select')
    $('#id_instituto option:first').text('Selecione um Instituto')
    $('#id_instituto option:first').prop("disabled", true)
    $('#id_centro_custo option:first').text('Selecione ou Crie um Centro de Custo')
    $('#id_centro_custo option:first').prop("disabled", true)
    $('#id_centro_custo option:first').addClass("vazio")
   

    $("#id_tipo_equip option:first").prop("disabled", true)


    $('#id_num_chamado').attr('type', 'number')
    $('#id_patrimonio').attr('type', 'number')


    // função para limitar a quantidade de digitos que o usuario pode digitar no campo numero chamado (8 digitos)
    $('#id_num_chamado').on('input', function () {
        let maximo = 8
        if (this.value.length > maximo) {
            this.value = this.value.slice(0, maximo)
        }
    })

    // função para limitar a quantidade de digitos que o usuario pode digitar no campo patrimonio (14 digitos)    
    $('#id_patrimonio').on('input', function () {
        let maximo = 14
        if (this.value.length > maximo) {
            this.value = this.value.slice(0, maximo)
        }
    })

   
    
    document.addEventListener("DOMContentLoaded", function () {
    	var el = document.getElementById('id_centro_custo');
        	var tom_select = new TomSelect(el, {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		render:{
    			item: function(data,escape) {
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    			option: function(data,escape){
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    		},
    	});

        
        $.get('api-cc', function(data) {
            tom_select.clearOptions()

            data.cc.forEach(function(cc) {
                tom_select.addOption({
                    value: cc.id,
                    text: cc.nome_centro_custo + ': ' + cc.cod_centro_custo + '.' + cc.unid_negocio
                })
            })
            
        })

        function adiciona_opcao(nova_opcao){
            tom_select.removeOption(value=nova_opcao.id)
            tom_select.addOption({
                value: nova_opcao.id,
                text: nova_opcao.nome_centro_custo + ': ' + nova_opcao.cod_centro_custo + '.' + nova_opcao.unid_negocio
            })
        }


    // funções que tiram a classe css quando o usuario digitar algo no input
    $('#nome_cc').on('keyup', function (e) {
        $(this).removeClass('is-invalid')
    })

    $('#cod_cc').on('keyup', function (e) {
        $(this).removeClass('is-invalid')
        
    })

    $('#unidade_negocio').on('keyup', function (e) {
        $(this).removeClass('is-invalid')
    })

    // Funcionalidade Adicionar Relação_centro_custo que manda uma requisição para uma view que trata os daddos, os salva e os reenvia 
    // para o .done que mostra ao usuario a opção que ele criou
    $('#cc-save').on('click', (e) => {
        e.preventDefault()

        

        let nome_cc = $('#nome_cc').val().trim()
        let codigo_centro_custo = $('#cod_cc').val()
        let unidade_negocio = $('#unidade_negocio').val()

        if (nome_cc === ""){
            $('#nome-cc-invalid-feedback').text('Este campo é necessário.')
            $('#nome_cc').addClass('is-invalid')
            
        } 

        if (codigo_centro_custo === ""){
            $('#cod-cc-invalid-feedback').text('Este campo é necessário.')
            $('#cod_cc').addClass('is-invalid')
            
        }

        if (unidade_negocio === ""){
            $('#unid-negoc-invalid-feedback').text('Este campo é necessário.')
            $('#unidade_negocio').addClass('is-invalid')
           
        }
        
        if (nome_cc == "" || codigo_centro_custo == "" || unidade_negocio == ""){
            return
        }
        
        $('#addCentroCusto').modal('hide')
      

        $.ajax({
            type: "POST",
            url: "{% url 'api-cc' %}",
            data: {
                'nome_cc': nome_cc,
                'cod_cc': codigo_centro_custo,
                'unidade_negocio': unidade_negocio,
            },
            success: function(res) {

                let cc = JSON.parse(res.cc)

                if (cc.created) {

                    let myToast = $.toast({
                        heading: 'Adicionado!',
                        text: 'Centro de Custo foi Adicionado com sucesso',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position: 'top-center'
                    })
                    
                   
                    adiciona_opcao(cc)
                    tom_select.setValue(cc.id)

                    $("#nome_cc").val("")
                    $("#cod_cc").val("")
                    $("#unidade_negocio").val("")

                }
            },
            error: function(err) {
                alert('Não foi possivel cadastrar centro de custo')
            } 
        })
    })


    $('.btn-edit').addClass('disabled')

    $('#id_centro_custo').change(function() {
        if($(this).val() !== ''){
            $('.btn-edit').removeClass('disabled')
        } 
    })


    $('.btn-edit').click(function() {
            
        let cc = $('#id_centro_custo')
        text = cc.find('option:selected').text()
        let val_nome = text.split(':')[0]
        let val_cod = text.split(': ')[1].split('.')[0]
        let val_unid = text.split('.')[1]
                            
        $('#edit_nome').val(val_nome)
        $('#edit_unid').val(val_unid)
        $('#edit_cod').val(val_cod)
            
        
    })

    $('#cc-edit').click(function() {
        let cc = $('#id_centro_custo')
        let id = cc.find('option:selected').val()
            
        let nome_cc = $('#edit_nome').val()
        let cod_cc = $('#edit_cod').val()
        let unid_cc = $('#edit_unid').val()

        $('#edit_cc').modal('hide')

        $.ajax({
            url: `api-edit-cc/${id}/`,
            type: 'POST',
            data: {
                'nome_cc': nome_cc,
                'cod_cc': cod_cc,
                'unid_cc': unid_cc
            },
            success: function(res) {
                    
                let cc = res.cc

                let myToast = $.toast({
                    heading: 'Adicionado!',
                    text: 'Centro de Custo foi atualizado com sucesso',
                    showHideTransition: 'slide',
                    icon: 'success',
                    position: 'top-center'
                })


                adiciona_opcao(cc)
                tom_select.setValue(cc.id)
            },
            error: function(err){
                alert('deu ruim na atualização')
            }
        })

    })

});



   

    
    //filtro campo unidade


    //filtro campo tipo de Equipamento
    document.addEventListener("DOMContentLoaded", function () {
        var el;
    	window.TomSelect && (new TomSelect(el = document.getElementById('id_tipo_equip'), {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		
    	}));
    });

    // filtro campo instituto
    document.addEventListener("DOMContentLoaded", function () {
    	var el;
        	window.TomSelect && (new TomSelect(el = document.getElementById('id_instituto'), {
    		copyClassesToDropdown: false,
    		dropdownParent: 'body',
    		controlInput: '<input>',
    		render:{
    			item: function(data,escape) {
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    			option: function(data,escape){
    				if( data.customProperties ){
    					return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
    				}
    				return '<div>' + escape(data.text) + '</div>';
    			},
    		},
    	}));
    });

  
    let unidade_usuario = $('#unidade_user').text().trim()
    
    
    
    let unidades = $('#id_unidade option').each(function() {
        let select = $(this).text().trim()
        if (select == unidade_usuario) {
            $(this).prop('selected', true)
        }
    })
    
    
    
  

</script>

{% endblock %}