<div class="modal modal-blur fade" id="edit_cc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Centro De Custo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Nome do centro de custo</label>
                        <input type="text" id="edit_nome" name="cod_cc" class="form-control" />
                        <div id="nome-cc-invalid-feedback" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <label class="form-label">Codigo Centro de Custo</label>
                        <input type="number" id="edit_cod" name="cod_cc" class="form-control" />
                        <div id="cod-cc-invalid-feedback" class="invalid-feedback"></div>
                    </div>
                </div>
                <div>
                    <label class="form-label">Unidade de Negócio</label>
                    <input type="number" class="form-control" id="edit_unid" name="unidade_negocio">
                    <div id="unid-negoc-invalid-feedback" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="cc-edit">Salvar</button>
            </div>
        </div>
    </div>
</div>
