<div class="modal modal-blur fade" id="modal-devolucao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Visualização Laudo Devolção</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Nome Solicitante</label>
                <input type="text" id="modal-nome-dev" class="form-control" name="example-text-input"
                  placeholder="Nome Solicitante" readonly>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Email Solicitante</label>
                <input type="text" id="modal-email-dev" class="form-control" name="example-text-input"
                  placeholder="Email Solicitante" readonly>
              </div>
            </div>
          </div>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Unidade</label>
                <input type="text" id="modal-unidade-dev" class="form-control" name="example-text-input"
                  placeholder="Unidade" readonly>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Instituto</label>
                <input type="text" id="modal-instituto-dev" class="form-control" name="example-text-input"
                  placeholder="Instituto" readonly>
              </div>
            </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Setor</label>
                  <input type="text" id="modal-departamento-dev" class="form-control" name="example-text-input"
                    placeholder="Departamento" readonly>
                </div>
              </div>
            
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Número do CSC</label>
                  <input type="text" id="modal-numchamado-dev" class="form-control" name="example-text-input"
                    placeholder="Número do Chamado" readonly>
                </div>
              </div>
            </div>
          <div class="form-selectgroup-boxes row mb-3"> 
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Número do Ramal</label>
                <input type="text" id="modal-ramal-dev" class="form-control" name="example-text-input"
                  placeholder="Número do Ramal" readonly>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Número do Prédio</label>
                <input type="text" id="modal-predio-dev" class="form-control" name="example-text-input"
                  placeholder="Número do Prédio" readonly>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Número da Sala</label>
                <input type="text" id="modal-sala-dev" class="form-control" name="example-text-input"
                  placeholder="Número da Sala" readonly>
              </div>
            </div>
          </div>
          <h5 class="modal-title">Dados do Equipamento</h5>
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">Tipo de Equipamento</label>
              <input type="text" id="modal-tipoequip-dev" class="form-control" name="example-text-input"
                placeholder="Tipo do Equipamento" readonly>
            </div>
          </div>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Número de Série</label>
                <input type="text" id="modal-numserie-dev" class="form-control" name="example-text-input"
                  placeholder="Número de Série" readonly>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Número do Patrimônio</label>
                <input type="text" id="modal-patrimonio-dev" class="form-control" name="example-text-input"
                  placeholder="Número do Patrimônio" readonly>
              </div>
            </div>
          </div>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Marca do Equipamento</label>
                <input type="text" id="modal-marca-dev" class="form-control" name="example-text-input"
                  placeholder="Marca do Equipamento" readonly>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Modelo do Equipameto</label>
                <input type="text" id="modal-modelo-dev" class="form-control" name="example-text-input"
                  placeholder="Modelo do Equipamento" readonly>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">Observações e testes realizados</label>
              <textarea type="text" id="modal-observacoes-dev" style="height: 90px;" class="form-control"
                name="example-text-input" placeholder="Observações e testes realizados" readonly></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancelar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  