{% load static %}
<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta19
* @link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content=""/>
    <meta name="theme-color" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta name="description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!"/>
    <meta name="canonical" content="https://tabler.io/demo/sign-in-illustration.html">
    <meta name="twitter:image:src" content="https://tabler.io/demo/static/og.png">
    <meta name="twitter:site" content="@tabler_ui">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta name="twitter:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <meta property="og:image" content="https://tabler.io/demo/static/og.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta property="og:site_name" content="Tabler">
    <meta property="og:type" content="object">
    <meta property="og:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta property="og:url" content="https://tabler.io/demo/static/og.png">
    <meta property="og:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <!-- CSS files -->
    <link href="{% static 'tabler-main/dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/demo.min.css' %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body  class=" d-flex flex-column">
    <script src="{% static 'tabler-main/dist/js/demo-theme.min.js' %}"></script>
    
    <div class="page page-center">
        <div class="container container-narrow py-4">
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="text-center h2 mb-5">Escolha sua Unidade de Origem</h2>
                    <form method="post">
                         {% csrf_token %}
                        <div style="display: flex;">
                            <select class="form-select" style="margin-right: 10px;" id="unidade" name="unidade">
                                {% for unidade in unidades %}
                                    <option value="{{unidade.id}}">{{unidade.nome}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary ">Selecionar</button>
                        </div>
                    </form>
                    <hr>
                    <div>
                        <h3>- Esta escolha será feita apenas uma vez. Ao selecionar a unidade, os laudos vistos e criados serão exclusivamente dessa mesma unidade.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'tabler-main/dist/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'tabler-main/dist/js/demo.min.js' %}" defer></script>
  </body>
</html>

