{% load static %}
<!doctype html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign in with illustration - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <meta name="msapplication-TileColor" content=""/>
    <meta name="theme-color" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta name="description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!"/>
    <meta name="canonical" content="https://tabler.io/demo/sign-in-illustration.html">
    <meta name="twitter:image:src" content="https://tabler.io/demo/static/og.png">
    <meta name="twitter:site" content="@tabler_ui">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta name="twitter:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <meta property="og:image" content="https://tabler.io/demo/static/og.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta property="og:site_name" content="Tabler">
    <meta property="og:type" content="object">
    <meta property="og:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta property="og:url" content="https://tabler.io/demo/static/og.png">
    <meta property="og:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <!-- CSS files -->
    <link href="{% static 'tabler-main/dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tabler-main/dist/css/demo.min.css' %}" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }

      .logo {
        width: 20em;
      }

      [data-bs-theme=dark] .logo {
        filter: invert(85%) !important;
      }


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body  class=" d-flex flex-column">
    <script src="{% static 'tabler-main/dist/js/demo-theme.min.js' %}"></script>

    <div class="page page-center">
      <div class="container container-normal py-4">
        <div class="text-center mb-4">
          <img src="{% static 'imgs/logo_crc_2.png' %}"   alt="Tabler" class="logo">
        </div>
        <div class="row align-items-center g-4">
          <div class="col-lg">
            <div class="container-tight">
              <div class="card card-md">
                <div class="card-body">
                  <div class="d-none d-md-flex" style="position: absolute; right: 10%; top: 12%;">
                    <a href="?theme=dark" id="btnDark" class="nav-link px-0 hide-theme-dark" title="Habilitar modo claro" data-bs-toggle="tooltip" data-bs-placement="bottom">
                      <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path></svg>
                    </a>
                    <a href="?theme=light" id="btnWhite" class="nav-link px-0 hide-theme-light" title="Habilitar modo escuro" data-bs-toggle="tooltip" data-bs-placement="bottom">
                      <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path></svg>
                    </a>
                  </div>
                  <h2 class="h2 text-center mb-4">Sistema de Laudos</h2>
                  <form id="form" method="post" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label">Nome Usuário</label>
                      <input id="username" type="text" class="form-control {% if form.username.errors %} is-invalid {% endif %}" name="username" placeholder="Nome" autocomplete="off" required>
                      {% if form.username.errors %}<div class="invalid-feedback"> Usuário não digitado</div> {% endif %}
                    </div>
                    <div class="mb-2">
                      <label class="form-label" >
                        Senha
                      </label>
                      <div class="input-group input-group-flat">
                        <input type="password" id="senha" class="form-control {% if form.password.errors %} is-invalid {% endif %}" name="password" placeholder="Senha" autocomplete="off" required>
                        <span class="input-group-text" style="cursor: pointer; {% if form.password.errors %} border-color: #e68888; {% endif %}">
                          <a  class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                            <svg xmlns="http://www.w3.org/2000/svg"  id="olho" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                          </a>
                        </span>
                        {% if form.password.errors %}<div class="invalid-feedback"> Senha não digitada</div> {% endif %}
                      </div>
                    </div>
                    {% if form.errors %}
                      <div class="form-footer">
                        <span class="badge bg-red-lt w-100" style="height: 50px; padding:20px;">Usuario ou senha invalidos, repita o processo</span>
                      </div>
                    {% endif %}
                    <div class="form-footer">
                      <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </div>
                  </form>
                </div>
                <div class="hr-text">ou</div>
                 <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="currentColor"
                                 class="icon icon-tabler icons-tabler-filled icon-tabler-brand-google">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 2a9.96 9.96 0 0 1 6.29 2.226a1 1 0 0 1 .04 1.52l-1.51 1.362a1 1 0 0 1 -1.265 .06a6 6 0 1 0 2.103 6.836l.001 -.004h-3.66a1 1 0 0 1 -.992 -.883l-.007 -.117v-2a1 1 0 0 1 1 -1h6.945a1 1 0 0 1 .994 .89c.04 .367 .061 .737 .061 1.11c0 5.523 -4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10z"/>
                            </svg>
                            Login com Google
                        </a>
                    </div>
                </div>
            </div>
              </div>

            <div class="text-center text-muted mt-3">
                        Não tem uma conta ainda? <a href="{% url 'cadastro' %}" tabindex="-1">Cadastrar</a>
                    </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'tabler-main/dist/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'tabler-main/dist/js/demo.min.js' %}" defer></script>
    <script>

      let input = document.querySelector('#senha')
      let btn = document.querySelector('#olho')


      btn.onclick = () => {
        if (input.type == 'password'){
          input.type = 'text'
        } else {
          input.type = 'password'
        }
      }



    </script>

  </body>
</html>